$purple: #415fce;
$purple-light: #597ce1;
$purple-dark: #2842ba;

$orange: #fe9769;
$orange-light: #feb588;
$orange-dark: #fd7849;

$green: #4eda91;
$green-light: #68e9b0;
$green-dark: #33cb71;

$cyan: #7ae2f0;
$cyan-light: #99eef7;
$cyan-dark: #5ad5e8;

$black: #232323;
$steel: #444444;
$slate: #7b7b7b;
$silver: #b7b7b7;
$smoke: #e5e5e5;
$snow: #f5f5f5;
$iceberg: #d3f5f9;
$melting-iceberg: #f1fcfd;
$white: #fff;
