@import '../../identity/colors', '../../identity/typography', '../../identity/transitions';

.button {
  @include typeface();
  font-weight: $font-weight-light;
  text-transform: uppercase;
  background: $cyan-dark;
  color: $snow;
  padding: 0.5rem 1.5rem;
  border: none;
  cursor: pointer;
  border-radius: 0.125rem;
  transition: background $transition-delay $transition-timing, color $transition-delay $transition-timing;
  text-decoration: none;
  display: inline-block;

  &:hover {
    background: $cyan-light;
    color: $cyan-dark;
  }

  &:active,
  &:focus {
    background: $cyan-light;
    color: $cyan-dark;
  }
}

.button--large {
  padding: 1rem 3rem;
}

.button--primary {
  background: $orange-dark;
  color: $snow;
  box-shadow: 0 0.25rem 1rem 0 rgba($steel, 0.2);
  transition: background $transition-delay $transition-timing, color $transition-delay $transition-timing,
    box-shadow $transition-delay $transition-timing;

  &:hover {
    background: $orange;
    color: $snow;
    box-shadow: 0 0.75rem 2rem 0 rgba($silver, 0.2);
  }

  &:active,
  &:focus {
    background: $orange-light;
    color: $snow;
  }
}

.button--disabled,
.button--disabled:hover,
.button--disabled:active,
.button--disabled:focus {
  background: $silver;
  color: $snow;
}
