$black: #232323;
$steel: #444444;
$slate: #7b7b7b;
$silver: #b7b7b7;
$smoke: #e5e5e5;
$snow: #f5f5f5;
$iceberg: #d3f5f9;
$melting-iceberg: #f1fcfd;
$white: #fff;

:export {
  black: $black;
  steel: $steel;
  slate: $slate;
  silver: $silver;
  smoke: $smoke;
  snow: $snow;
  iceberg: $iceberg;
  meltingiceberg: $melting-iceberg;
  white: $white;
}
