@import '../../colors', '../../typography';

.Label {
  $font-size: map-get($type-scale, body);
  @include typeface();
  font-size: $font-size;
  font-weight: $font-weight-bold;
  line-height: map-get($line-height, body);
  color: $black;
}

.Label--secondary {
  color: $silver;
}

.Label--accent {
  color: $purple;
}
